// // <!------------------------------------  字体  ------------------------------------------------->

// 改良瘦金体
@font-face {
  font-family: "shouJinTi";
  src: url("@/assets/fonts/shouJinTi.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  //  仅应用于中文字符
  // unicode-range: U+4E00-9FFF;
}

// Fira Code Variable Fonts
@font-face {
  font-family: "firaCode";
  src: url("@/assets/fonts/firaCode.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  // 仅应用于英文字母和符号
  // unicode-range: U+0020-007E;
}

body {
  @apply font-shouJinTi;
}
