:root {
  // 系统主色
  --main-color: var(--el-color-primary);
  --el-color-white: white !important;
  --el-color-black: white !important;
  // 输入框边框颜色
  // --el-border-color: #E4E4E7 !important; // DCDFE6
  // 按钮粗度
  --el-font-weight-primary: 400 !important;

  --el-component-custom-height: 36px !important;

  --el-component-size: var(--el-component-custom-height) !important;

  // 边框、按钮圆角...
  --el-border-radius-base: calc(var(--custom-radius) / 3 + 2px) !important;

  --el-border-radius-small: calc(var(--custom-radius) / 3 + 4px) !important;
  --el-messagebox-border-radius: calc(
    var(--custom-radius) / 3 + 4px
  ) !important;
  --el-popover-border-radius: calc(var(--custom-radius) / 3 + 4px) !important;

  .region .el-radio-button__original-radio:checked + .el-radio-button__inner {
    color: var(--theme-color);
  }
}
