html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  .indexGridBackgroundColor {
    background-color: #d9d5c9;
  }
}

html.dark {
  color: #d1d3d7;
  background: #222325;

  .indexGridBackgroundColor {
    background-color: #323639;
  }
}

//  nprogress  顶部进度条颜色
#nprogress .bar {
  background: #fec451 !important; //自定义颜色
  height: 3px !important;
}
