@import './fonts.less';

@import './nprogress.less';

@import './arco.less';

html,
body,
#app {
  height: 100% !important;
  margin: 0;
  padding: 0;
}

// #app{
//   // overflow: auto;
// }

/* 当 arco-theme 属性为 'dark' 时的样式 */
body[arco-theme='dark'] {
  background-color: #16A085; /* 深色背景 */
  color: white;              /* 白色字体 */
}

/* 结合类和属性的选择器 */
body[arco-theme='light'] {
  /* 这里可以添加额外的样式 */

  background-color: red; /* 浅色背景 */
}
