// 重置默认样式 (Reset Styles)
@use "./core/reset.scss";

// 根元素样式 (Root Styles)
@use "./core/root.scss";

// 引入字体 (Fonts)
@use "./core/fonts.scss";

// Element Plus 暗黑主题 (Element Plus Dark Theme)
@use "./core/el-dark.scss";

// 顶部进度条样式 (NProgress Styles)
@use "./core/nprogress.scss";

// 路由切换动画 (Router Transition)
@use "./core/router-transition";

// 主题切换过渡优化 (Theme Change Transition Optimization)
@use "./core/theme-change.scss";

// 主题切换圆形扩散动画 (Theme Animation)
@use "./core/theme-animation.scss";

.aaa {
  @apply color-red;
}
