@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #f5deb3;
  --color-secondary: #8c6d4f;

  --color-error: #e43961;
  --color-info: #d0d2d6;
  --color-success: #00d89e;
  --color-warning: #ff9800;
  --color-danger: #ff4c4c;

  --font-theme: "shouJinTi", "firaCode";
  --font-shouJinTi: "shouJinTi";
  --font-firaCode: "firaCode";

  --text-3: 0.75rem;
  --text-4: 1rem;
  --text-5: 1.25rem;
  --text-6: 1.5rem;
  --text-7: 1.75rem;
  --text-8: 2rem;
  --text-9: 2.25rem;
  --text-10: 2.5rem;
  --text-11: 2.75rem;

  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;
  --radius-4: 1rem;
  --radius-5: 1.25rem;
}

@utility wh-full {
  width: 100%;
  height: 100%;
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-col {
  display: flex;
  flex-direction: column;
}

@utility text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@utility switch-animation {
  transition-duration: 300ms;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: ease;
}

@utility bg-base {
  @apply bg-[#9B9996] dark:bg-[#212223] switch-animation;
}

@utility card-base {
  @apply overflow-hidden rounded-lg bg-[#D9D5C9] dark:bg-[#0E0E0F] switch-animation;
}

@utility text-theme-base {
  @apply text-[#333333] dark:text-[#D0D2D6] switch-animation;
}

@utility switch-label-base {
  @apply bg-gray-200 dark:bg-gray-800 switch-animation;
}

@utility switch-span-base {
  @apply bg-white dark:bg-gray-300 switch-animation;
}

@utility transition-max-height {
  transition-property: max-height;
}

@utility font-theme {
  font-family: "shouJinTi", "firaCode", sans-serif;
}

@utility font-shouJinTi {
  font-family: "shouJinTi", sans-serif;
}

@utility font-firaCode {
  font-family: "firaCode", monospace;
}
